@charset "UTF-8";

/*Configurações gerais de estilo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*Definindo altura e largura totais do elemento*/
    
}
/*Configurações da tag body*/
body{
    display: flex; /*Tornando o container flexivel*/
    flex-direction: column; /*Definindo a direção do itens do container*/
    justify-content: center;/*Definindo espaços entre e ao redor dos itens ao centro*/
    align-items: center; /*Alinhando itens ao centro*/
    height: 100vh; /*Definindo o elemento com 100% de altura*/
    background: blue; /*Definindo cor de fundo*/
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*Definindo a fonte dos elementos*/
    color: black; /* Definindo a cor*/
}
/*Configurações do formulário class cadastro*/
.cadastro{
    display: flex;
    flex-direction: column;
    background: white;
    width: 80vw;/*Definindo o elemento com 80% da Largura*/
    max-width: 450px; /*Definindo a largura máxima do elemento*/
    padding: 30px; /*Definindo distância dos elementos para borda*/
    border-radius: 10px;/*Arredondando as bordas do elemento*/
}
/*Configurações da tag h2 da class cadastro*/
.cadastro h2 {
    margin-bottom: 5px;/*Definindo a distância para margin inferior*/
}
/*Configurações da class bar de cadastro */
.cadastro .barra{
    width: 50px;
    height: 3px;
    background: blue;

}
/*Configurações do label da class cadastro*/
.cadastro label{
    margin: 10px 0;
}
/*Configurações do input da class cadastro*/
.cadastro input{
    padding: 10px;
    border: none; /*Retirando a borda*/
    border: 1px solid blue; /*Criando contorno de 1px*/
	border-radius: 10px;
}
/*Configurações do button da class cadastro*/
.cadastro #botao{
    margin: 30px 0 10px; /*Definindo a margem*/
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: blue;
    color: white;
    cursor: pointer;/*Modifica o cursor do mouse para pointer*/
    text-transform: uppercase;/*Alterando o texto para Maiusculo*/
}